<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- DAO -->
	<bean name="adressDao" class="com.mounir.openfacture.dao.hibernate.impl.AdressDaoImpl" />
	<bean name="articleDao" class="com.mounir.openfacture.dao.hibernate.impl.ArticleDaoImpl" />
	<bean name="articleTypeDao" class="com.mounir.openfacture.dao.hibernate.impl.ArticleTypeDaoImpl" />
	<bean name="bankAccountDao" class="com.mounir.openfacture.dao.hibernate.impl.BankAccountDaoImpl" />
	<bean name="companyDao" class="com.mounir.openfacture.dao.hibernate.impl.CompanyDaoImpl" />
	<bean name="companyTypeDao" class="com.mounir.openfacture.dao.hibernate.impl.CompanyTypeDaoImpl" />
	<bean name="countryDao" class="com.mounir.openfacture.dao.hibernate.impl.CountryDaoImpl" />
	<bean name="currencyDao" class="com.mounir.openfacture.dao.hibernate.impl.CurrencyDaoImpl" />
	<bean name="documentDao" class="com.mounir.openfacture.dao.hibernate.impl.DocumentDaoImpl" />
	<bean name="documentLineDao" class="com.mounir.openfacture.dao.hibernate.impl.DocumentLineDaoImpl" />
	<bean name="documentTypeDao" class="com.mounir.openfacture.dao.hibernate.impl.DocumentTypeDaoImpl" />
	<bean name="legalFormDao" class="com.mounir.openfacture.dao.hibernate.impl.LegalFormDaoImpl" />
	<bean name="tvaTypeDao" class="com.mounir.openfacture.dao.hibernate.impl.TvaTypeDaoImpl" />
	<bean name="userDao" class="com.mounir.openfacture.dao.hibernate.impl.UserDaoImpl" />
	<!-- Business -->
	<bean name="adressBusiness" class="com.mounir.openfacture.business.impl.AdressBusinessImpl">
		<property name="dao" ref="adressDao"/>
	</bean>
	<bean name="articleBusiness" class="com.mounir.openfacture.business.impl.ArticleBusinessImpl">
		<property name="dao" ref="articleDao"/>
	</bean>
	<bean name="articleTypeBusiness" class="com.mounir.openfacture.business.impl.ArticleTypeBusinessImpl">
		<property name="dao" ref="articleTypeDao"/>
	</bean>
	<bean name="bankAccountBusiness" class="com.mounir.openfacture.business.impl.BankAccountBusinessImpl">
		<property name="dao" ref="bankAccountDao"/>
	</bean>
	<bean name="companyBusiness" class="com.mounir.openfacture.business.impl.CompanyBusinessImpl">
		<property name="dao" ref="companyDao"/>
	</bean>
	<bean name="companyTypeBusiness" class="com.mounir.openfacture.business.impl.CompanyTypeBusinessImpl">
		<property name="dao" ref="companyTypeDao"/>
	</bean>
	<bean name="countryBusiness" class="com.mounir.openfacture.business.impl.CountryBusinessImpl">
		<property name="dao" ref="countryDao"/>
	</bean>
	<bean name="currencyBusiness" class="com.mounir.openfacture.business.impl.CurrencyBusinessImpl">
		<property name="dao" ref="currencyDao"/>
	</bean>
	<bean name="documentBusiness" class="com.mounir.openfacture.business.impl.DocumentBusinessImpl">
		<property name="dao" ref="documentDao"/>
	</bean>
	<bean name="documentLineBusiness" class="com.mounir.openfacture.business.impl.DocumentLineBusinessImpl">
		<property name="dao" ref="documentLineDao"/>
	</bean>
	<bean name="documentTypeBusiness" class="com.mounir.openfacture.business.impl.DocumentTypeBusinessImpl">
		<property name="dao" ref="documentLineDao"/>
	</bean>
	<bean name="legalFormBusiness" class="com.mounir.openfacture.business.impl.LegalFormBusinessImpl">
		<property name="dao" ref="legalFormDao"/>
	</bean>
	<bean name="tvaTypeBusiness" class="com.mounir.openfacture.business.impl.TvaTypeBusinessImpl">
		<property name="dao" ref="tvaTypeDao"/>
	</bean>
	<bean name="userBusiness" class="com.mounir.openfacture.business.impl.UserBusinessImpl">
		<property name="dao" ref="userDao"/>
	</bean>
</beans>
