<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- DAO -->
	<bean name="userDao" class="com.mounir.myfacture.dao.hibernate.impl.UserDaoImpl" />
	<bean name="companyDao" class="com.mounir.myfacture.dao.hibernate.impl.CompanyDaoImpl" />
	<bean name="bankAccountDao" class="com.mounir.myfacture.dao.hibernate.impl.BankAccountDaoImpl" />
	<bean name="factureDao" class="com.mounir.myfacture.dao.hibernate.impl.FactureDaoImpl" />
	<bean name="encaissementDao" class="com.mounir.myfacture.dao.hibernate.impl.EncaissementDaoImpl" />
	<!-- Business -->
	<bean name="userBusiness" class="com.mounir.myfacture.business.impl.UserBusinessImpl">
		<property name="dao" ref="userDao"/>
	</bean>
	<bean name="companyBusiness" class="com.mounir.myfacture.business.impl.CompanyBusinessImpl">
		<property name="dao" ref="companyDao"/>
	</bean>
	<bean name="bankAccountBusiness" class="com.mounir.myfacture.business.impl.BankAccountBusinessImpl">
		<property name="dao" ref="bankAccountDao"/>
	</bean>
	<bean name="factureBusiness" class="com.mounir.myfacture.business.impl.FactureBusinessImpl">
		<property name="dao" ref="factureDao"/>
	</bean>
	<bean name="encaissementBusiness" class="com.mounir.myfacture.business.impl.EncaissementBusinessImpl">
		<property name="dao" ref="encaissementDao"/>
	</bean>
</beans>
